.DS_Store
**/.git.backup/

**/node_modules/
**/.next/
**/out/
**/build/
**/dist/
**/.sanity/
**/.vercel/
**/coverage/

**/.env*
**/*.pem
**/*.tsbuildinfo
**/*.log

photo-portfolio/tiff-originals/
photo-portfolio/tiff-converted/